/* build time:Wed Nov 19 2025 02:45:51 GMT+0000 (Coordinated Universal Time)*/
@keyframes searchPopIn{from{opacity:0;transform:scale(.95)}to{opacity:1;transform:scale(1)}}.search-animation{animation:searchPopIn .2s ease-out forwards}
/* rebuild by neat */