/* build time:Fri Nov 14 2025 06:59:57 GMT+0000 (Coordinated Universal Time)*/
@keyframes searchPopIn{from{opacity:0;transform:scale(.95)}to{opacity:1;transform:scale(1)}}.search-animation{animation:searchPopIn .2s ease-out forwards}
/* rebuild by neat */