<footer class="footer">
  <span>{{ site.footerText }}RSS</span>
  <span>Theme</span>
  <a href="https://github.com/TMaize/tmaize-blog">TMaize</a>
  <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  <span id="busuanzi_container_site_pv" >| 总访问量 <span id="busuanzi_value_site_pv"></span> 次 </span>
  <span id="busuanzi_container_site_uv" >| 总访客数 <span id="busuanzi_value_site_uv"></span> 人 </span>

</footer>
<div id="to-top">
  <span></span>
  <span></span>
</div>
